<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<clear />
				<rule name="AddWeb" enabled="true" stopProcessing="false">
					<match url="^(.*)$" negate="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="REQUEST_URI" pattern="^Web/(.*)$" negate="true" />
					</conditions>
					<action type="Rewrite" url="Web/{R:1}" />
				</rule>
				<rule name="FileExists" enabled="true" stopProcessing="true">
					<match url="^(.*)$" />
					<conditions logicalGrouping="MatchAny" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
					</conditions>
					<action type="None" />
				</rule>
				<rule name="DealURI">
					<match url="^Web/(.*)$" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="Web/index.php?p_a_t_h=/{R:1}" />
				</rule>
			</rules>
		</rewrite>
		<httpErrors errorMode="Custom">
			<remove statusCode="403" subStatusCode="-1" />
			<remove statusCode="404" subStatusCode="-1" />
			<remove statusCode="500" subStatusCode="-1" />
			<remove statusCode="502" subStatusCode="-1" />
			<remove statusCode="503" subStatusCode="-1" />
			<remove statusCode="504" subStatusCode="-1" />
			<error statusCode="403" prefixLanguageFilePath="" path="/Core/Errors/Http4xx.php" responseMode="ExecuteURL" />
			<error statusCode="404" prefixLanguageFilePath="" path="/Core/Errors/Http404.php" responseMode="ExecuteURL" />
			<error statusCode="500" prefixLanguageFilePath="" path="/Core/Errors/Http500.php" responseMode="ExecuteURL" />
			<error statusCode="502" prefixLanguageFilePath="" path="/Core/Errors/Http5xx.php" responseMode="ExecuteURL" />
			<error statusCode="503" prefixLanguageFilePath="" path="/Core/Errors/Http5xx.php" responseMode="ExecuteURL" />
			<error statusCode="504" prefixLanguageFilePath="" path="/Core/Errors/Http5xx.php" responseMode="ExecuteURL" />
		</httpErrors>
	</system.webServer>
</configuration>
