<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="filter_php_postfix">
                    <match url="^(.*?)(\.php)+$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{URL}" pattern="^(/)*index.php$" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}" appendQueryString="true" />
                </rule>
                <rule name="rewrite_to_web">
                    <match url="^(?!(web/|index\.php))(/)*(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="web/{R:3}" />
                </rule>
                <rule name="add_postfix">
                    <match url="^(.*?)([^/])$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}{R:2}/" />
                </rule>
                <rule name="is_dir">
                    <match url="^(/)*(web/)*(.*?)/$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?p_a_t_h=/{R:3}" />
                </rule>
                <rule name="is_file">
                    <match url="^(/)*(web/)*(.*?)(/)*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?p_a_t_h=/{R:3}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
