<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<clear />
				<rule name="AddWeb" enabled="true" stopProcessing="false">
					<match url="^(.*)$" negate="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="REQUEST__URI__" pattern="^Web/(.*)$" negate="true" />
					</conditions>
					<action type="Rewrite" url="Web/{R:1}" />
				</rule>
				<rule name="FileExists" enabled="true" stopProcessing="true">
					<match url="^(.*)$" />
					<conditions logicalGrouping="MatchAny" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
					</conditions>
					<action type="None" />
				</rule>
				<rule name="DealURI">
					<match url="^Web/(.*)$" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="index.php?p_a_t_h=/{R:1}" />
				</rule>
			</rules>
		</rewrite>
		<httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough"></httpErrors>
	</system.webServer>
</configuration>
