*{
	touch-action: manipulation;
}

@keyframes hello {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes byebye {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes notice {
	0% {
		transform: translateY(0);
	}
	45% {
		transform: translateY(10%);
	}
	52% {
		transform: translateY(10%);
	}
	100% {
		transform: translateY(0);
	}
}
@-webkit-keyframes notice {
	0% {
		transform: translateY(0);
	}
	45% {
		transform: translateY(10%);
	}
	52% {
		transform: translateY(10%);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes versionshow {
	0% {
		transform: scale(0.2, 0.2);
		opacity: 0.6;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@-webkit-keyframes versionshow {
	0% {
		transform: scale(0.2, 0.2);
		opacity: 0.6;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}


html{
	height:100%;
	width:100%;
	font-size:6.25%;
	overflow-x:hidden;
	-webkit-user:none;
	user:none; 
}
body{
	height:100%;
	width:100%;
	margin:0px;
	background-color:#f3f5fa;
	font-family:"Microsoft YaHei", 微软雅黑, "Microsoft JhengHei";
	color:#333;
	position:relative;
	-webkit-overflow-scrolling:touch;
	-webkit-user:none;
	user:none;
	font-size: 16rem;
	overflow-x: hidden;
}
a{
	text-decoration:none;
	color:inherit;
}
a:visited{
	color:inherit;
}
a img{
	border:none;
}
input, select, textarea{
	font-family:"Microsoft YaHei", 微软雅黑, "Microsoft JhengHei";
	box-sizing:content-box;
	text-align:center;
	-webkit-appearance:none;
	border-radius: 0;
	outline: 0
}
input:hover{
	border: none
}
option{
	text-align:center;
}
ul{
	list-style:none;
}
video{
	object-fit:fill !important;
}
table{
	border-collapse:separate;
	border-spacing:0px;
	width:100%;
}
td{
	padding:0;
	display:inline-table;
	vertical-align:middle;
}
.hello{
	animation:hello 0.5s;
	-webkit-animation:hello 0.5s;
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
}
.byebye{
	animation:byebye 0.5s;
	-webkit-animation:byebye 0.5s;
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
}
.displaynone{
	display: none;
}
.IEBrowser-bg{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top:0;
	z-index: 998;
	background-color: #24273d;
	filter:alpha(opacity=80)
}
.IEBrowser{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top:0;
	z-index: 999;
	color: #ffffff;
	display: table
}
.IEBrowser-box{
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	line-height: 1.5;
	font-size: 18px;
}
.IEBrowser-box b{
	color: #f53840
}

.note{
	width: 100%;
	flex-shrink: 0;
	position: absolute;
	transform: translate(0,-100%);
	top: 0;
	left: 0;
	z-index: 100;
	padding:15px 0;
	box-sizing: border-box;
	background-color: #3377ff;
	color:#fff;
	text-align: center;
	font-size: 16rem;
	opacity: 0;
	line-height: 1.1
}
.note-danger{
	background-color: #fa3137
}
.note-slide{
	opacity: 1;
	transform: translate(0,0);
	transition: all 0.3s;
	transition-timing-function: ease-out;
	transition-delay: 0.2s;
}
.note-link{
	text-decoration: underline;
	font-weight: bold;
	cursor: pointer
}
.main{
	width:100%;
	height: 100%;
	max-width: 1280px;
	position: relative;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main-logo{
	width: 100%;
	height: 19%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column
}
.main-logo-img{
	width: 19.05em;
	height: 6em;
	position: relative;
	background-image: url(../img/logo.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	font-size: 10rem;
	cursor: pointer
}
.main-logo-version{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: -105%;
	align-self: stretch;
	display: flex;
	align-items: baseline;
	font-size: 24rem;
}
.main-logo-version span{
	color: #333;
	opacity: 0;
	animation:versionshow 0.5s;
	-webkit-animation:versionshow 0.5s;
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}
.main-go{
	width: 80%;
	margin: 6% 0 5% 0;
	box-sizing: border-box;
	line-height: 1;
	display: flex;
	align-items: stretch;
	justify-content: center;
	position: relative;
}
.main-go-input-box{
	width: 82%;
	height: 100%;
	display: flex;
	position: relative;
	padding: 0 2.2%;
	padding-right: 1%;
	box-sizing: border-box;
	background-color: #fff;
	box-shadow: rgba(65,145,245,0.3) 0 0.3em 1.5em;
	border-radius: 999rem;
}
.main-go-input{
	width: 95%;
	border: none;
	font-size: 24rem;
	line-height: 1;
	padding: 1.3% 0;
	box-sizing: border-box;
	background: transparent;
	color:#333;
	text-align: left
}
.main-go-input::-webkit-input-placeholder{
	color:rgba(0,0,0,0.25);
}
.main-go-input::-moz-placeholder{
	color:rgba(255,255,255,0.6);
}
.main-go-input:-moz-placeholder{
	color:rgba(255,255,255,0.6);
}
.main-go-input:-ms-input-placeholder{
	color:rgba(255,255,255,0.6);
}
.main-go-btn{
	width: 5%;
	flex-shrink: 0;
	align-self: stretch;
}
.main-go-btn-icon{
	width: 100%;
	height: 100%;
	background-image: url(../img/go.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	cursor: pointer
}
.main-guide{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.main-guide-class{
	width: 100%;
	border-bottom: 1px solid #e9e9e9;
	display: flex;
	justify-content: center
}
.main-guide-class-item{
	margin: 0.5% 1% 0 1%;
	padding: 0.5%;
	padding-bottom: 0.7%;
	font-size: 16rem;
	cursor: pointer;
	position: relative;
	color: #666;
	flex-shrink: 0;
}
.main-guide-class-item-linebox{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}
.main-guide-class-item-hoverline{
	height: 2px;
	width: 0;
	margin: auto;
	background-color: #3377ff;
	transition: width 0.3s;
	transition-timing-function: ease-out;
}
.main-guide-class-item-active{
	color: #333;
	font-weight: bold;
}
.main-guide-class-item-active .main-guide-class-item-hoverline{
	width: 100%;
}
.main-document{
	width: 100%;
	height: 0;
	flex-grow: 1;
	position: relative;
	margin-bottom: 3%;
}
.main-document-loading{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1;
	background-color: #fff;
	color: #ccc;
	font-size: 22rem;
}
.main-document iframe{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	border: 0;
	min-height: 700px;
}
@media screen and (max-width: 960px){
	body{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.note{
		font-size: 14rem;
		padding: 2% 2%;
	}
	.main-logo{
		height: 18%
	}
	.main-logo-img{
		width: 15.8em;
		height: 5em;
	}
	.main-logo-version{
		font-size: 16.5rem;
	}
	.main-go{
		width: 96%;
	}
	.main-go-input-box{
		width: 90%;
		position: relative;
		padding: 0 3.5%;
		padding-right: 1.5%;
	}
	.main-go-input{
		width: 90%;
		font-size: 18rem;
		padding: 1.5% 0%;
	}
	.main-go-input::-webkit-input-placeholder{
		font-size: 14rem;
	}
	.main-go-input::-moz-placeholder{
		font-size: 14rem;
	}
	.main-go-input:-moz-placeholder{
		font-size: 14rem;
	}
	.main-go-btn{
		width: 10%;
	}
	.main-guide{
		width: 96%
	}
	.main-guide-class{
		height: 100%;
		justify-content: space-between
	}
	.main-guide-class::before, .main-guide-class::after{
		content: '';
	}
	.main-guide-class-item{
		font-size: 16rem;
		margin: 0.5% 1.6% 0 1.6%;
		padding-bottom: 1.2%;
		white-space:nowrap;
	}
	.main-guide-info{
		font-size: 15rem;
		padding: 2.5% 0;
	}
	.main-guide-info-item{
		width: 32.33%;
		margin: 0.5%;
		padding: 2% 1%;
		text-align: center;
		box-sizing: border-box
	}
	.main-document{
		width: 94%;
		margin: auto;
		margin-bottom: 3%;
	}
	.main-document iframe{
		min-height: 600px;
	}
}